*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(252, 248, 248);
}
header{
    padding: 20px 0 20px 0;
    background-color: rgb(230, 229, 227);
}

h3{
    display: inline;
    margin-left: 100px;
    top: 20px;
}
.btn-header{
    float: right;
    margin-right: 100px;
    
}
.btn-head{
    display: inline;
    margin: 15px;
    cursor: pointer;
    
}
.parent{
    
    margin-left: 316.5px;
    padding: 20px;
}
.container, .container2, .container3, .container4{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-left: 481.5px;
    margin-top: 60px;
    display: none;
    border-radius: 3px solid #AAA;

}
 h2{
    margin-bottom: 10px;
}
 p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(151, 151, 140);
}
input {
    width: 250px;
    height: 40px;
    color: rgb(145, 143, 143);
    padding-left: 10px;
    border-radius: 5px solid #AAA;
}
.next{
    background-color: rgb(142, 189, 95);
    margin-top: 20px;
    text-align: center;
    width: 60px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 2px solid #AAA;
    
}
.next:hover{
    background-color: rgb(136, 180, 93);
}
.container .show-next {
    margin-top: 20px;
    margin-left:95px ;
}
.container .show-next  .show-next1{
   display: inline-block;
    background-color: darkgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.container2 .show-next {
    margin-top: 20px;
    margin-left:95px ;
}
.container2 .show-next  .show-next1{
   display: inline-block;
    background-color: darkgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.container3 .show-next {
    margin-top: 20px;
    margin-left:95px ;
}
.container3 .show-next  .show-next1{
   display: inline-block;
    background-color: darkgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.container4 .show-next {
    margin-top: 20px;
    margin-left:95px ;
}
.container4 .show-next  .show-next1{
   display: inline-block;
    background-color: darkgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
@media (max-width:500px){
   
    .btn-header{
        float: right;
       
        
    }
    .btn-head{
        display: block;
        margin: 2.5px 5px 2.5 5px;
        cursor: pointer;
        font-size: 10px;
        
    }
    .parent{
    margin-left: 5px;
    padding: 5px;
    }
    h1{
        font-size: 10px;
    }
    h3{
        display: inline;
        margin-left: 10px;
        top: 10px;
        font-size: 10px;
    }
    .btn-header{
        float: right;
        
        
    }
    .btn-head{
        display: block;
        margin: 4px;
        margin-right: 33px;
        cursor: pointer;
        
    }
    
    .container{
        background-color: white;
        width: 300px;
        padding: 5px;
        margin-top: 60px;
        display: none;
        margin-left: 5px;
        border-radius: 3px solid #AAA;
    }
     h2{
        margin-bottom: 10px;
    }
     p {
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(151, 151, 140);
    }
    input {
        width: 250px;
        height: 40px;
        color: rgb(145, 143, 143);
        padding-left: 10px;
        border-radius: 5px solid #AAA;
    }
    .next{
        background-color: rgb(142, 189, 95);
        margin-top: 20px;
        text-align: center;
        width: 60px;
        height: 30px;
        border: none;
        color: white;
        border-radius: 2px solid #AAA;
        
    }
    .next:hover{
        background-color: rgb(136, 180, 93);
    }
    .container .show-next {
        margin-top: 20px;
       
    }
    .container .show-next  .show-next1{
       display: inline-block;
        background-color: darkgray;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        
    }
    .container2 .show-next {
        margin-top: 20px;
        
    }
    .container2 .show-next  .show-next1{
       display: inline-block;
        background-color: darkgray;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        
    }
    .container3 .show-next {
        margin-top: 20px;
        margin-left:95px ;
    }
    .container3 .show-next  .show-next1{
       display: inline-block;
        background-color: darkgray;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        
    }
    .container4 .show-next {
        margin-top: 20px;
        margin-left:95px ;
    }
    .container4 .show-next  .show-next1{
       display: inline-block;
        background-color: darkgray;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        
    }
}


